---
import DayHeadline from './DayHeadline.astro';
import RowHeadline from './RowHeadline.astro';
import Row from './Row.astro';
const { day, month, date, sup, journal } = Astro.props;
---
<div class="mb-12">
	<DayHeadline day={day} month={month} date={date} sup={sup} />
	<RowHeadline />
	{ journal.map( (item, index) => <Row {...item} isFirst={ index === 0 } /> ) }
</div>
