---
let {day, month, date, sup} = Astro.props;
---
<div class="flex items-center text-center font-bold text-lg md:text-4xl mt-4 bg-headline-day bg-cover aspect-[97/10]">
    <div class="w-1/2 pb-1 md:pb-3">AGENDA <em class="font-normal">{day.toUpperCase()}</em></div>
    <div class="w-1/2 pt-1 md:pt-3">{month.toUpperCase()} {date}<sup>{sup}</sup></div>
</div>