---
let {footCode} = Astro.props;
---
<footer class="p-4 text-center text-evblue text-xs">
    <p>{footCode} | Jun 2024. This material is intended for medical professionals. This invitation is strictly personal and non-transferable. You will soon receive communication from the Bayer Logistics Agency to confirm your participation. If you wish to inform or report an adverse event or technical product complaint associated with a Bayer product, please contact your physician or healthcare professional, your local health authority and / or provide your comments at: <a href="https://safetrack-public.bayer.com/" target="_blank">https://safetrack-public.bayer.com/</a></p>
</footer>