---
import EventLogo from '../assets/event-logo-2.webp';
import BayerLogo from '../svg/bayer.astro';

---
<div class="md:flex">
    <div class="md:w-1/6 md:order-2">
        <div class="w-24 mx-auto">
            <BayerLogo />
        </div>
    </div>
    <div class="md:w-5/6 px-4 pt-12 md:order-1">
        <img src={ EventLogo.src  } alt="Agenda Bayer" />
    </div>
</div>