---
---
<div class="hidden md:flex font-bold upper italic text-2xl bg-gradient-to-r from-aqua to-green">
	<div class="md:w-36 py-2 px-4">Time</div>
	<div class="md:flex-1 py-2 px-4">Topic</div>
	<div class="md:w-64 py-2 px-4">Speakers</div>
</div>