---
import MainLayout from '../layouts/MainLayout.astro';
import RowRegular from '../snippets/RowRegular.astro';
import RowBreak from '../snippets/RowBreak.astro';
import QRCol from '../assets/qr-col.webp';
import QRPer from '../assets/qr-per.webp';
import QREcu from '../assets/qr-ecu.webp';
---
<MainLayout title='Agenda Bayer'>
	<div class="container mx-auto">
		<div>
			<h1 class="text-blue font-extrabold text-3xl tracking-[1em] mt-4">AGENDA</h1>
		</div>
	</div>
	<div class="container mx-auto text-blue">
		<div class="my-4 mx-4 md:mx-0 py-2 px-4 md:px-8 md:flex md:flex-wrap font-bold">
			<div class="md:w-1/6 md:py-4">
				Horario
			</div>
			<div class="md:w-4/6 md:py-4">
				Evento
			</div>
			<div class="md:w-1/6 md:py-4">
				Encargado
			</div>
		</div>
		<RowRegular
			hours="8:00 - 8:30 am"
			people={ [{ name: 'Victoria Mateus', country: 'bay' }] }
			hasBg
		>
			Bienvenida
		</RowRegular>
		<RowRegular
			hours="8:30 - 9:00 am"
			people={ [{ name: 'Dr. Matthew Smith', country: 'usa' }] }
		>
			<strong>Descubriendo nuevas perspectivas:</strong> Biomarcadores moleculares y factores pronósticos en la evaluación del riesgo y  su impacto en el tratamiento del cáncer de próstata.
		</RowRegular>
		<RowRegular
			hours="9:00 - 9:30 am"
			people={ [{ name: 'Dr. Murilo Luz', country: 'bra' }] }
			hasBg
		>
			<strong>Innovaciones en líneas tempranas de tratamiento:</strong> Nuevos enfoques terapéuticos en cáncer de próstata localizado de alto riesgo.
		</RowRegular>
		<RowRegular
			hours="9:30 - 10:00 am"
			people={ [{ name: 'Dr. Nicolas Villareal', country: 'col' }] }
		>
			<strong>Nuevas propuestas de tratamiento del cáncer de próstata:</strong> Abordajes en el tratamiento de la recaída bioquímica.
		</RowRegular>
		<RowBreak hours="10:00 - 10:30 am" event="Break" />
		<RowRegular
			hours="10:30 - 11:00 am"
			people={ [{ name: 'Dr. Julian Rojas', country: 'col' }] }
		>
			<strong>Visualizando lo imperceptible:</strong> La Revolución del PET PSMA en la Detección del Cáncer de Próstata
		</RowRegular>
		<RowRegular
			hours="11:00 - 11:15 am"
			people={ [{ name: 'Dr. Nicolas Villareal', country: 'col' }] }
			hasBg
		>
			<strong>De la teoría a la práctica:</strong> Aprendizajes del estudio de vida real DEAR en CPRCnm
		</RowRegular>
		<RowRegular
			hours="11:15 - 11:45 am"
			people={ [{ name: 'Dr. Ray Manneh', country: 'col' }] }
		>
			<strong>Individualizando al paciente con cáncer de próstata:</strong> Enfoques Prácticos para Tratamientos Personalizados en CPHSm
		</RowRegular>
		<RowRegular
			hours="11:45 - 12:05 pm"
			people={ [{ name: 'Dra. Laura Bernal', country: 'col' }] }
			hasBg
		>
			<strong>Tomando decisiones en el tratamiento del CPHSm:</strong> perfil integral del paciente longevo
		</RowRegular>
		<RowRegular
			hours="12:05 - 12:35 pm"
			people={ [{ name: 'Dr. Matthew Smith', country: 'usa' }] }
		>
			<strong>Mejor Dos que Uno:</strong> Nueva opción de tratamiento de Darolutamida en CPHSm.
		</RowRegular>
		<RowBreak hours="12:35 - 1:40 pm" event="Almuerzo" />
		<RowRegular
			hours="1:40 - 2:00 pm"
			people={ [{ name: 'Dr. Ivan Bustillo', country: 'col' }] }
		>
			<strong>Arquitectos de la salud:</strong> Estructurando el tratamiento ideal para el paciente con CPHSm integrando evidencia.
		</RowRegular>
		<RowRegular
			hours="2:00 – 3:30 pm"
			people={ [
				{ name: 'Dr. Murilo Luz', country: 'bra' },
				{ name: 'Dr. Ivan Bustillo', country: 'col' },
				{ name: 'Dr. Ray Manneh', country: 'col' }
			] }
			hasBg
		>
			<strong>Workshop:</strong> Explorando el CPHSm: Uso de la evidencia hacia la experiencia de vida real mejorando resultados.
		</RowRegular>
		<RowBreak hours="3:30 - 4:00 pm" event="Break" />
		<RowRegular
			hours="4:00 - 4:40 pm"
			people={ [{ name: 'Dra. Laura Bernal', country: 'col' }] }
			hasBg
		>
			<strong>Avances en CPRCm:</strong> Terapias y combinaciones emergentes.
		</RowRegular>
		<RowRegular
			hours="4:40 - 5:00 pm"
			people={ [{ name: 'Dr. Juan Sebastian Franco', country: 'bay' }] }
		>
			Cierre
		</RowRegular>
		<RowBreak hours="7:00 pm" event="Cena" />
	</div>
	<div class="container mx-auto text-blue text-sm mt-12">
		<div class="flex flex-wrap">
			<div class="w-full md:w-1/2">
				<p>PP-NUB-CO-0557-1 <br /> Material Técnico/Científico dirigido exclusivamente a Profesionales de la salud en capacidad de prescribir medicamentos.Venta bajo prescripción médica. Consulte a su médico. Todo medicamento posee eventos secundarios. Este medicamento requiere receta médica. En caso de duda consulte a su médico o farmacéutico.</p>
				<p class="mt-4">Para GT: Material Técnico/Científico para uso exclusivo del Profesional Médico.<br />
					Para Perú: En el link adjunto se encuentra la ficha técnica de producto aprobada por DIGEMID.</p>
				<p class="mt-4">Registro Sanitario R.S. N° EE-09865. https://go.bayer.com/NubeqaPE  RUC: 20100096341
					Denominación Social: Bayer, S. A. Si desea informar o reportar un evento adverso o un reclamo técnico de producto asociado a un producto Bayer, por favor, póngase en contacto con su médico o profesional de la salud, su autoridad sanitaria local y/o dirija sus comentarios en: https://safetrack-public.bayer.com/</p>
			</div>
			<div class="w-1/2 md:w-1/6 text-center p-4">
				<p>Texto de prescripción <br /> COLOMBIA</p>
				<img src={QRCol.src} alt="Texto de prescripción - COLOMBIA" />
			</div>
			<div class="w-1/2 md:w-1/6 text-center p-4">
				<p>Texto de prescripción <br /> ECUADOR</p>
				<img src={QREcu.src} alt="Texto de prescripción - ECUADOR" />
			</div>
			<div class="w-1/2 md:w-1/6 text-center p-4">
				<p>Texto de prescripción <br /> PERÚ</p>
				<img src={QRPer.src} alt="Texto de prescripción - PERÚ" />
			</div>
		</div>
	</div>
</MainLayout>