---
import '@fontsource-variable/montserrat';
import BayerLogo from '../svg/bayer.astro';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>AGENDA | Bayer</title>
	</head>
	<body class="font-montserrat bg-center bg-cover min-h-screen flex justify-center items-center">
		<div>
			<div class="w-[50px] md:w-[75px] mx-auto">
				<BayerLogo />
			</div>
			<p class="mt-4">En Construcción</p>
		</div>
	</body>
</html>