---
import MainLayout from '../layouts/MainLayout.astro';
import MedicalJson from '../json/medical.json';
import DailyJournal from '../interface/DailyJournal.astro';
import WorkshopSessionSnippet from '../interface/WorkshopSessionSnippet.astro';
---
<MainLayout title='Agenda Bayer' footCode="PP-PFM-ONC-AR-0002-1">
	{ MedicalJson.map( item => <DailyJournal {...item} /> ) }
	<h2 class="text-evblue font-bold text-xl px-4 sm:px-0">WORKSHOP SESSION</h2>
	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 px-4 sm:px-0">
		<WorkshopSessionSnippet
			speakers={
				[
					{
						"name": "Dr. Ivan Bustillo",
						"position": "Medical Oncologist",
						"country": "col"
					},
					{
						"name": "Dr. Amit Bahl",
						"position": "Urological Oncologist",
						"country": "gbr"
					}
				]
			}
		>Challenging mHSPC cases</WorkshopSessionSnippet>
		<WorkshopSessionSnippet
			speakers={
				[
					{
						"name": "Dr. Diego Barreiro",
						"position": "Urological Oncologist",
						"country": "arg"
					},
					{
						"name": "Dr. Dionisio Flores",
						"position": "Medical Oncologist",
						"country": "crc"
					}
				]
			}
		>Best practices in long term management of advanced prostate cancer</WorkshopSessionSnippet>
		<WorkshopSessionSnippet
			speakers={
				[
					{
						"name": "Dr. Paulo Lages",
						"position": "Medical Oncologist",
						"country": "bra"
					}
				]
			}
		>Challenging CRPC cases</WorkshopSessionSnippet>
		<WorkshopSessionSnippet
			speakers={
				[
					{
						"name": "Dr. Maria Isabel Enriquez",
						"position": "Clinical Oncologist",
						"country": "mex"
					},
					{
						"name": "Dr. Breno Dauster",
						"position": "Urologist",
						"country": "bra"
					}
				]
			}
		>Patient-centered care: What are their main concerns?</WorkshopSessionSnippet>
	</div>
</MainLayout>