---
import MainLayout from '../layouts/MainLayout.astro';
import BayerLogoSVG from '../svg/bayer.astro';
---
<MainLayout title='Agenda Bayer'>
	<div class="w-full h-[100dvh] flex flex-col justify-center items-center">
		<div class="w-36">
			<BayerLogoSVG />
		</div>
		<div class="text-2xl mt-4 text-center">
			Sitio en construcción, <br /> regresa pronto.
		</div>
	</div>
</MainLayout>