---
import Home from '../components/pages/Home';
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title='Agenda Bayer'>
	<h1>Under Construction / En Constucción</h1>
</MainLayout>