---
import MainLayout from '../layouts/MainLayout.astro';
import resumes from '../json/resumes.json';
---
<MainLayout title='Agenda Bayer'>
	<header class="bg-header bg-center bg-no-repeat bg-cover aspect-[50/23] flex justify-center items-end pb-4">
		<h1 class='font-bold italic text-3xl text-blue text-center'>SPEAKERS</h1>
	</header>
	<div class="container mx-auto">
		{
			resumes.map( item => <div class="md:flex items-center py-24 px-4 md:px-0">
				<div class="md:w-1/3">
					<div class="w-56 mx-auto">
						<img src={ `/img/${item.id}.webp` } alt={item.name} class="w-full" />
						<h2 class="text-2xl text-blue font-bold italic uppercase">{item.name}</h2>
					</div>
				</div>
				<div class="md:w-2/3">
					<p>{item.resume}</p>
				</div>
			</div> )
		}
		<div class="my-8 text-sm px-4 md:px-0">
			<p class="mb-2">MA-AFL_8mg-AR-0003-1 | Jul 2024</p>
			<p class="mb-2">Material Técnico/Científico dirigido exclusivamente a Profesionales de la salud en capacidad de prescribir medicamentos. Si desea informar o reportar un evento adverso o un reclamo técnico de producto asociado a un producto Bayer, por favor, póngase en contacto con su médico o profesional de la salud, su autoridad sanitaria local y/o dirija sus comentarios en: https://safetrack-public.bayer.com/</p>
		</div>
	</div>
</MainLayout>