---
const { colorFill } = Astro.props;
---
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    <title>Bayer</title>
    <path class={ colorFill === undefined ? 'bayerlogo-1' : 'bayerlogo-w' } d="M240.8,76.06h29.51a5.9,5.9,0,1,0,0-11.8H240.8Zm0,28.66h30.37a6.75,6.75,0,0,0,0-13.49H240.8ZM288.24,83a21.5,21.5,0,0,1-15,36.9H223.93V49.07h48.53A20.66,20.66,0,0,1,288.24,83"/>
    <path class={ colorFill === undefined ? 'bayerlogo-1' : 'bayerlogo-w' } d="M299.58,204.25H281.47l-5.7-11.8H236.15l-5.71,11.8H212.35l35.4-70.81h16.42ZM256,151.56l-12.44,25.72h24.87Z"/>
    <polygon class={ colorFill === undefined ? 'bayerlogo-1' : 'bayerlogo-w' } points="280.02 219.43 300.31 219.43 264.4 265.53 264.4 290.25 247.54 290.25 247.54 265.53 211.63 219.43 231.91 219.43 255.97 251.68 280.02 219.43"/>
    <polygon class={ colorFill === undefined ? 'bayerlogo-1' : 'bayerlogo-w' } points="373.9 219.43 373.9 234.61 326.7 234.61 326.7 246.41 372.21 246.4 372.21 261.58 326.7 261.58 326.7 275.08 373.9 275.08 373.9 290.25 309.83 290.25 309.83 219.43 373.9 219.43"/>
    <path class={ colorFill === undefined ? 'bayerlogo-1' : 'bayerlogo-w' } d="M426,263.27H413.34v27H396.48v-70.8h43.07a21.94,21.94,0,0,1,6.12,43l20.79,27.82H446.22Zm11.84-28.66H413.34V248.1h24.49a6.75,6.75,0,0,0,0-13.49"/>
    <path class={ colorFill === undefined ? 'bayerlogo-1' : 'bayerlogo-w' } d="M219.5,290.25H201.39l-5.7-11.81H156.07l-5.71,11.81h-18.1l35.41-70.82h16.41Zm-43.62-52.7-12.44,25.72h24.87Z"/>
    <path class={ colorFill === undefined ? 'bayerlogo-1' : 'bayerlogo-w' } d="M68.94,246.46h29.5a5.91,5.91,0,1,0,0-11.81H68.94Zm0,28.66H99.31a6.75,6.75,0,0,0,0-13.5H68.94Zm47.43-21.72a21.5,21.5,0,0,1-15,36.91H52.08V219.47h48.51a20.66,20.66,0,0,1,15.78,33.93"/>
    <polygon class={ colorFill === undefined ? 'bayerlogo-1' : 'bayerlogo-w' } points="288.01 305.42 288.01 320.6 240.79 320.6 240.79 332.4 286.32 332.4 286.32 347.57 240.79 347.57 240.79 361.06 288.01 361.06 288.01 376.23 223.93 376.23 223.93 305.42 288.01 305.42"/>
    <path class={ colorFill === undefined ? 'bayerlogo-1' : 'bayerlogo-w' } d="M276.17,415a6.76,6.76,0,0,0-6.69-6.76H240.79v13.49h28.69a6.74,6.74,0,0,0,6.69-6.73m-52.24,48.88V393.1h47.3a22,22,0,0,1,8.16,42.28l21.27,28.53H280.41l-20.23-27H240.79v27Z"/>
    <path class={ colorFill === undefined ? 'bayerlogo-2' : 'bayerlogo-w' } d="M511.49,240.14C503.3,106.15,392.05,0,256,0S8.7,106.15.51,240.14c.33,5.37.81,10.71,1.46,16A256.07,256.07,0,0,0,256,480.28c-118.33,0-215.55-92.12-223.71-208.42-.36-5.24-.57-10.53-.57-15.86s.21-10.62.57-15.86C40.45,123.85,137.67,31.73,256,31.73A256,256,0,0,1,510,256.12q1,7.8,1.47,15.74c.32-5.24.51-10.54.51-15.86s-.19-10.61-.51-15.86"/>
    <path class={ colorFill === undefined ? 'bayerlogo-3' : 'bayerlogo-w' } d="M.51,271.86C8.7,405.85,119.94,512,256,512S503.3,405.85,511.49,271.86c-.33-5.37-.81-10.71-1.46-16A256.07,256.07,0,0,0,256,31.72c118.33,0,215.55,92.12,223.71,208.42q.57,7.86.57,15.86c0,5.33-.21,10.62-.57,15.86C471.55,388.15,374.33,480.27,256,480.27A256,256,0,0,1,2,255.88q-1-7.8-1.47-15.74C.19,245.38,0,250.68,0,256s.19,10.61.51,15.86"/>
</svg>

<style>
.bayerlogo-1{fill:#002b4a;}
.bayerlogo-2{fill:#7ec40e;}
.bayerlogo-3{fill:#00a9fd;}
.bayerlogo-w{fill:#fff;}
</style>